form{
    padding: 100px;
    border: 1px solid black;
}


form label,
form span{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}
form input,
form select{
    padding: 10px 42px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

form button{
    padding: 13px 35px;
    border: none;
    background-image: linear-gradient(to right,purple ,grey);
    color: #fff;
    border-radius: 25px;
    margin-top: 10px;
    /* margin-left: 10px; */
}
select option
{
padding: 10px 42px;
}
#reset{
    margin-left: 25px;
}
button:hover{
    box-shadow: 1px 1px 10px gray;
}