*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
header nav{
    width: 100%;
    height: 80px;
    background-color: white;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav span{
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-style: normal;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
    position: relative;
}
header nav ul li a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 0px 20px;
}
header nav p{
    font-size: 18px;
}


/* Hero */
.hero{
    display: flex;
    height: 600px;
    background-color: rgb(248, 244, 244);
}
.hero-text{
    width: 50%;
    padding: 105px;
}

.hero-text span{
    color: black;
    opacity: 0.8;
    font-size: 22px;  
    margin-left: 45px; 
    margin-bottom: 10px;
}
.hero-text h2{
    padding: 15px 0px;
    font-size: 40px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 500;
    margin-left: 45px;
}
.hero button{
    padding: 30px 60px;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 25px;
}
.hero-img{
    width: 50%;
}
.hero-img img{
    width: 450px;
    height: 500px;
    margin-top: 35px;
    margin-left: 60px;
}


/*service*/
.service{
    width: 100%;
    height: 700px;
    background-color: white;
}
.service h2{
    text-align: center;
    font-size: 36px;
    padding: 20px;
}
.service p{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    opacity: 0.5;
}

.service-box{
    display: grid;
    grid-template-columns: 560px 560px;
    column-gap: 70px;
    grid-template-rows: 260px 260px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.service-box .box{
    display: grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 20px rgb(238, 234, 234);
}
.service-box .box p{
    text-align: justify;
    padding: 0px;
    padding-top: 15px;
}
.box img{
    border-radius: 15px;
}
.about {
    height: 600px;
    background-color: rgb(245, 243, 243);
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.about-img{
    width: 50%;
}
.about-img img{
    width: 500px;
    height: 500px;
    margin-left: 120px;
    border-radius: 10px;
}
.about-text{
    width: 50%;
    padding: 50px;
}
.about-text h2{
    font-size: 50px;
}
.about-text p{
    font-size: 20px;
    line-height: 1.5;
    padding-top: 15px;
}
.about-text button{
    padding: 30px 60px;
    margin-top: 50px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 50px;
}

/* Project */
.project{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 400px 400px;
    justify-content: center;
    align-content: center;
}
.project-box{
    display: grid;
    grid-template-columns: 500px 300px;
    justify-content: center;
    align-items: center;
}
.project-box .project-img img{
    width: 450px;
    height: 350px;
}
.project-box .project-info h2{
    font-size: 36px;
}
.project-box .project-info p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    opacity: 0.8;
}
.project-box .project-info a{
    text-decoration: none;
    color: black;
    font-weight: 500px;
}
.contact{
    width: 100%;
    height: 700px;
    background-color: rgb(245, 243, 243);
}
.contact form{
    margin-left: 600px;
}
.contact h1{
    text-align: center;
    padding: 25px;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 8px;
}

.contact form label {
    padding: 20px;
    font-size: 18px;
}
.contact form input {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 65px;
    margin-left: 20px;
    border: 1px solid rgb(217, 213, 213);
    border-radius: 10px;
}
.contact form textarea{
    margin-top: 15PX;
    padding: 30px 65px;
    margin-left: 20px;
    border: 1px solid rgb(217, 213, 213);

}
.contact form button{
    padding: 20px 40px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 20PX;
}