th,td{
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
}
table,td,th,tfoot{
    border: 1px solid black;
    border-collapse: collapse;
}
.column{
    width: 300px;
}
table th{
    background-color: gray;
    color: aliceblue;
}